{% extends 'material/frontend/base.html' %}
{% load i18n viewflow viewflow_frontend material_form material_frontend main %}

{% block page_title %}
    Установка пароля
{% endblock %}

{% block breadcrumbs_items %}

{% endblock %}

{% block content %}
    {% block left-panel %}
        <div class="left-panel">
            <div class="card">
                <form role="form" method="POST" enctype="multipart/form-data">
                    <div class="card-content">
                        <div class="card-title">
                            Установите пароль
                        </div>
                        {% csrf_token %}
                        {% form template='material/form.html' form=form %}{% endform %}
                        {{ activation.management_form }}
                    </div>

                    <div class="card-action">
                        <div class="row">

                            <div class="col right-align">
                                <button type="submit" class="btn primary white-text">
                                    {% trans 'Set password' %}
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
    {% block right-panel %}{% endblock %}
{% endblock %}
