{% load i18n %}{% autoescape off %}
{% blocktrans %}
Для Вас создан аккаунт в системе регистрации новых дистрибьюторов Michelin.<br>
{% endblocktrans %}

{% blocktrans %}
Ваш логин в систему: {{ username }}<br>
{% endblocktrans %}

{% blocktrans %}
Пожалуйста, перейдите на эту страницу и введите пароль для вашего аккаунта:<br>
{% endblocktrans %}

{% block reset_link %}
<a href="{{ protocol }}://{{ domain }}{{ link }}">{{ protocol }}://{{ domain }}{{ link }}</a><br>
{% endblock %}

{% blocktrans %}
После этого Вы сможете заполнить вашу заявку на регистрацию в системе дистрибьюторов Michelin.<br>
{% endblocktrans %}

{% endautoescape %}