{% load material_frontend %}

{% if perms.main.add_proposalprocess %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red z-depth-2 modal-trigger" data-turbolinks=false href="#start_actions">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="/workflow/main/proposalconfirmation/start/?{{ request|query_back:'here' }}" data-turbolinks=false>
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endif %}

