{% extends 'main/proposalconfirmation/base_task.html' %}
{% load i18n viewflow material_frontend viewflow_frontend main %}

{% block breadcrumbs_items %}
{% include 'viewflow/includes/breadcrumb_category.html' %}
<a href="{% flowurl view.flow_class 'index' %}?{{ request|query_back }}">{{ view.flow_class.process_title }}</a>
<a class="active">#{{ process.pk }}</a>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                {% comment %}
                {{ process.summary }}
                {% endcomment %}
                {{ object.summary }}
            </div>

            <table class="striped proposal-data">
                <thead>
                  <tr>
                      <th></th>     <!-- Плейсхолдер для кнопки фолдинга полей -->
                      <th>Поле</th>
                      <th>Значение</th>
                      <th></th>  <!-- Плейсхолдер для кнопки истории изменения полей -->
                  </tr>
                </thead>

                <tbody>
                    {{ form.current_version }}
                    {% for field in form %}
                        {% if object|has_attr:field.name %}
                            <tr>
                                <td></td>   <!-- Плейсхолдер для кнопки фолдинга полей -->
                                <td>{{ field.label }}</td>
                                <td>
                                    {{ field }}
                                    {% if field.errors %}
                                        <ul>
                                            {% for error in field.errors %}
                                                <li class="red-text">{{error}}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                                <td class="field-history-folding">
                                    {% if field.name in fields_corrections %}
                                        <a href="#">
                                            <i class="fas fa-history"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>

                            {% if field.name in fields_corrections %}
                                {% for correction in fields_corrections|get_attr:field.name %}
                                    <tr class="field-history-row"></tr>
                                    <tr class="field-history-row">
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="field-history-data">
                                                {% if correction.version_value %}
                                                    {{ correction.version_value }}
                                                {% endif %}

                                                {% if correction.is_active %}<span class="red-text text-lighten-1">{% endif %}
                                                    <span class="correction-step">
                                                    ({{ correction.msg }})
                                                    </span>
                                                {% if correction.is_active %}</span>{% endif %}
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            {# -- delivery formset -- #}
            {% include 'main/proposalconfirmation/includes/delivery_formset.html' %}

        </div>

    </div>
</div>
{% endblock %}

{% block right-panel %}
{% comment %}
<div class="right-panel">
    {% with hide_active_tasks=True %}
    {% include_process_data process %}
    {% endwith %}
</div>
{% endcomment %}
{% endblock %}

{% endblock %}
