{% extends 'main/base_module.html' %}
{% load i18n viewflow material_form %}
{% load material_form material_form_internal main i18n %}


{% block extrahead %}
    {{ block.super }}
    <!-- Dadata jquery.suggestions -->
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@17.12.0/dist/css/suggestions.min.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--[if lt IE 10]>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/suggestions-jquery@17.12.0/dist/js/jquery.suggestions.min.js"></script>
    <!-- / Dadata jquery.suggestions -->
{% endblock %}

{% block breadcrumbs_items %}
{% include 'viewflow/includes/breadcrumb_category.html' %}
<a href="{% flowurl activation.flow_class 'index' %}{% if request.GET.category %}?category={{ request.GET.category }}{% endif %}">{{ activation.flow_class.process_title }}</a>
<a class="active">{% trans 'Start' %}</a>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <form role="form" method="POST" enctype="multipart/form-data">
            <div class="card-content">
                <div class="card-title black-text">{{ activation.flow_class.process_title }} - {{ activation.flow_task.task_description|default:activation.task.flow_task.name|title }}</div>
                {% csrf_token %}
                {{ activation.management_form }}
                <table class="striped proposal-data">
                    <thead>
                      <tr>
                          <th></th>     <!-- Плейсхолдер для кнопки фолдинга полей -->
                          <th>Поле</th>
                          <th>Значение</th>
                          <th></th>  <!-- Плейсхолдер для кнопки истории изменения полей -->
                      </tr>
                    </thead>

                    <tbody>
                        {{ form.current_version }}
                        {% for field in form %}

                            <tr>
                                <td></td>   <!-- Плейсхолдер для кнопки фолдинга полей -->
                                <td>{{ field.label }}</td>
                                <td>
                                    {{ field }}
                                    {% if field.errors %}
                                        <ul>
                                            {% for error in field.errors %}
                                                <li class="red-text">{{error}}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                                <td class="field-history-folding">
                                    {% if field.name in fields_corrections %}
                                        <a href="#">
                                            <i class="fas fa-history"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>

            </div>

            {% comment %}
            <input id="party" name="party" type="text" size="100"/>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            {% endcomment %}


            <script type="text/javascript">
                $('input[name="search"]').suggestions({
                    token: "e9dcea72f7007707ae2f073cf73e1555445c2a4c",
                    type: "PARTY",
                    count: 20,
                    /* Вызывается, когда пользователь выбирает одну из подсказок */
                    onSelect: function(suggestion) {
                        $('input[name="inn"]').val(suggestion.data.inn).trigger('change')
                        $('input[name="company_name"]').val(suggestion.value).trigger('change')
                        $('input[name="jur_address"]').val(suggestion.data.address.value).trigger('change')

                        $('input[name="kpp"]').val(suggestion.data.kpp).trigger('change')
                        $('input[name="okpo"]').val(suggestion.data.okpo).trigger('change')
                        $('input[name="ogrn"]').val(suggestion.data.ogrn).trigger('change')

                        $('input[name="jur_country"]').val(null).trigger('change')
                        $('input[name="jur_city"]').val(null).trigger('change')
                        $('input[name="jur_zip_code"]').val(null).trigger('change')
                        $('input[name="jur_region"]').val(null).trigger('change')
                        $('input[name="jur_street"]').val(null).trigger('change')
                        $('input[name="jur_building"]').val(null).trigger('change')
                        $('input[name="jur_block"]').val(null).trigger('change')

                        if(suggestion.data.address.data) {
                            let adr = suggestion.data.address.data
                            $('input[name="jur_country"]').val(adr.country).trigger('change')
                            $('input[name="jur_city"]').val(adr.city).trigger('change')
                            $('input[name="jur_zip_code"]').val(adr.postal_code).trigger('change')
                            $('input[name="jur_region"]').val(adr.region_with_type).trigger('change')
                            $('input[name="jur_street"]').val(adr.street_with_type).trigger('change')

                            jur_building = adr.house_type_full ? adr.house_type_full + ' ' : ''
                            jur_building += adr.house ? adr.house : ''
                            $('input[name="jur_building"]').val(jur_building).trigger('change')

                            jur_block = adr.block_type_full ? adr.block_type_full + ' ' : ''
                            jur_block += adr.block ? adr.block : ''
                            $('input[name="jur_block"]').val(jur_block).trigger('change')
                        }
                    }
                });
            </script>

            <div class="card-action row">
                <div class="col s12 right-align">
                    {% comment %}
                    <button type="submit" name="_continue" class="btn btn-flat hide-on-small-only">{% trans 'Start and continue on this process' %}</button>
                    {% endcomment %}
                    <button type="submit" name="_start" class="btn primary white-text">
                        {% trans 'Done' as default_done_btn_title %}
                        {{ done_btn_title|default:default_done_btn_title }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block right-panel %}{% endblock %}
{% endblock %}
