{% extends 'main/base_module.html' %}
{% load i18n viewflow viewflow_frontend material_form material_frontend main %}

{% block breadcrumbs_items %}
{% include 'viewflow/includes/breadcrumb_category.html' %}
<a href="{% flowurl activation.flow_class 'index' %}?{{ request|query_back }}">{{ activation.flow_class.process_title }}</a>
<a href="{% flowurl activation.process 'detail' %}?{{ request|query_back }}">#{{ activation.process.pk }}</a>
<a class="active" href="{% flowurl activation.task 'detail' %}?{{ request|query_back }}">{{ activation.flow_task }} / #{{ activation.task.pk }}</a>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <form role="form" method="POST" enctype="multipart/form-data">
            {{ activation.management_form }}

            <div class="card-content">
                <div class="card-title">
                    {{ activation.task.summary|default:activation.task.flow_task }}
                    {% comment %}
                    <h6>{{ activation.process.summary }}</h6>
                    {% endcomment %}
                </div>

                {% include 'main/proposalconfirmation/includes/proposal_form.html' %}

            </div>

            <div class="card-action">
                <div class="row">
                    {% block task_actions %}

                    <div class="col s3">
                        {% check_is_client user as is_client %}
                        {% if not is_client %}
                            <a class="btn btn-flat black-text" href="{% flowurl activation.task 'detail' %}?{{ request|query_back }}">
                                {% trans 'Detail' %}
                            </a>
                        {% endif %}
                    </div>

                    <div id="michelin-actions" class="col s9 right-align">

                        {% comment %}
                        {% check_is_form_with_correction_field form as is_able_to_block %}
                        {% if is_able_to_block %}
                            <button type="submit" id="block-btn" name="_block" class="btn primary white-text red lighten-1">
                                {% trans 'Block proposal' as default_block_btn_title %}
                                {{ block_btn_title|default:default_block_btn_title }}
                            </button>
                        {% endif %}
                        {% endcomment %}

                        {% for corr_field in form %}
                            {% if 'data-correction-field' in corr_field.field.widget.attrs %}
                                <button type="submit" id="block-btn" name="{{ corr_field.field.widget.attrs.action_btn_name }}" class="btn primary {{ corr_field.field.widget.attrs.action_btn_class }}">
                                    {{ corr_field.field.widget.attrs.action_btn_label }}
                                </button>
                            {% endif %}
                        {% endfor %}

                        {% if done_btn_title %}
                            <button type="submit" id="done-btn" name="_done" class="btn primary white-text green lighten-1">
                                {% trans 'Done' as default_done_btn_title %}
                                {{ done_btn_title|default:default_done_btn_title }}
                            </button>
                        {% endif %}
                    </div>
                    {% endblock %}
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}
{% comment %}
{% block right-panel %}
<div class="right-panel">
    {% include_process_data activation.process %}
</div>
{% endblock %}
{% endcomment %}
{% endblock %}
