{% load i18n %}{% autoescape off %}

{% trans 'Ваша заявка согласована, Вы можете начать работу.' %}<br>

{% blocktrans %}
Your personal manager: {{ acs_first_name }} {{ acs_last_name }}.<br>
Your personal manager's email: {{ acs_email }}<br>
{% endblocktrans %}

{% blocktrans %}
Proposal confirmed at: {{ process_finished }}<br>
{% endblocktrans %}

{% blocktrans %}
Go to the proposal: <a href="{{ protocol }}://{{ domain }}{{ task_link }}">{{ protocol }}://{{ domain }}{{ task_link }}</a><br>
{% endblocktrans %}

{% endautoescape %}