{% load i18n %}{% autoescape off %}

{% blocktrans %}
Ваша заявка согласована, Вы можете начать работу.<br>
{% endblocktrans %}

{% blocktrans %}
Ваш менеджер {{ acs_first_name }} {{ acs_last_name }}.<br>
Email менеджера: {{ acs_email }}<br>
{% endblocktrans %}

{% blocktrans %}
Время завершения процесса согласования и регистрации: {{ process_finished }}<br>
{% endblocktrans %}

{% blocktrans %}
Перейти к заявке: <a href="{{ protocol }}://{{ domain }}{{ task_link }}">{{ protocol }}://{{ domain }}{{ task_link }}</a><br>
{% endblocktrans %}

{% endautoescape %}