{% load i18n viewflow viewflow_frontend material_form material_frontend main %}

{% block task_form %}
{% csrf_token %}

{% if is_stopped %}
    <span class="stopped-warning red-text text-lighten-1">Заявка заблокирована</span>
{% endif %}

{% if '__all__' in fields_corrections %}
    <span class="all-corrections-title">Корректировки для заявки:</span>
    <ul class="all-corrections">
    {% for non_field_correction in fields_corrections|get_item:'__all__' %}
        <li>
            <span class="
                {% if non_field_correction.changed_fields %}all-history-folding {% endif %}
                {% if non_field_correction.is_active %}red-text text-lighten-1{% endif %}">
                {{ non_field_correction.msg }}
            </span>
            <span class="correction-step">
                ({{ non_field_correction.from_step }}, {{ non_field_correction.owner }})
            </span>

            {% if non_field_correction.changed_fields %}
                <div class="all-history-data">
                    <table class="striped proposal-data">
                        {% for field in form %}
                            {% if activation.process|get_attr:field.name %}

                                {% if non_field_correction.changed_fields|get_item:field.name  %}
                                    <tr>
                                        <td>{{ field.label }}</td>
                                        <td>
                                            {{ non_field_correction.changed_fields|get_item:field.name|get_item:"new_value" }}

                                            <s>
                                                {{ non_field_correction.changed_fields|get_item:field.name|get_item:"old_value" }}
                                            </s>

                                        </td>
                                    </tr>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}

<table class="striped proposal-data">
    <thead>
      <tr>
          <th></th>     <!-- Плейсхолдер для кнопки фолдинга полей -->
          <th>Поле</th>
          <th>Значение</th>
          <th></th>  <!-- Плейсхолдер для кнопки истории изменения полей -->
      </tr>
    </thead>

    <tbody>
        {{ form.current_version }}
        {% for field in form %}
            {% if activation.process|has_attr:field.name %}

                {% get_prev_field_by_index form.fields.keys forloop.counter0 as prev_field_name %}

                {% if prev_field_name in form.field_groups.keys %}
                    <tr>
                        <td></td>   <!-- Плейсхолдер для кнопки фолдинга полей -->
                        <td colspan="3">
                            {% for grouped_field_name in form.field_groups|get_item:prev_field_name %}
                                {% get_field_by_name form grouped_field_name as grouped_field %}
                                {{ grouped_field }}

                                {% if grouped_field.errors %}
                                    <ul>
                                        {% for error in field.errors %}
                                            <li class="red-text">{{error}}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <!--
                        <td class="field-history-folding">
                            {% if field.name in fields_corrections %}
                                <a href="#">
                                    <i class="fas fa-history"></i>
                                </a>
                            {% endif %}
                        </td>
                        -->
                    </tr>
                {% endif %}

                {% if field.name not in form.grouped_fields %}
                    <tr>
                        <td></td>   <!-- Плейсхолдер для кнопки фолдинга полей -->
                        <td>{{ field.label }}</td>
                        <td>
                            {{ field }}
                            {% if field.errors %}
                                <ul>
                                    {% for error in field.errors %}
                                        <li class="red-text">{{error}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                        <td class="field-history-folding">
                            {% if field.name in fields_corrections %}
                                <a href="#">
                                    <i class="fas fa-history"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>

                    {% if field.name in fields_corrections %}
                        {% for correction in fields_corrections|get_attr:field.name %}
                            <tr class="field-history-row"></tr>
                            <tr class="field-history-row">
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="field-history-data">
                                        {% if correction.version_value %}
                                            {{ correction.version_value }}
                                        {% endif %}

                                        {% if correction.is_active %}<span class="red-text text-lighten-1">{% endif %}
                                            <span class="correction-step">
                                            ({{ correction.msg }})
                                            </span>
                                        {% if correction.is_active %}</span>{% endif %}
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                {% endif %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}


{% if formset %}

    {{ formset.management_form }}
    <div class="row">
        <div class="col s12 delivery_addresses_title">Доставочные адреса</div>
    </div>
    <div id="delivery_addresses_formset" >
    {% for address_form in formset.forms %}
        <table class="striped proposal-data formset-table">

            <thead>
              <tr>
                  <th></th>     <!-- Плейсхолдер для кнопки фолдинга полей -->
                  <th colspan="2">Доставочный адрес</th>
                  <th></th>  <!-- Плейсхолдер для кнопки истории изменения полей -->
              </tr>
            </thead>

            <tbody>
                {% comment %}
                {{ form.current_version }}
                {% endcomment %}
                {% for field in address_form %}

                    {% get_prev_field_by_index address_form.fields.keys forloop.counter0 as prev_field_name %}

                    {% if prev_field_name in address_form.field_groups.keys %}
                        <tr>
                            <td></td>   <!-- Плейсхолдер для кнопки фолдинга полей -->
                            <td colspan="3">
                                {% for grouped_field_name in address_form.field_groups|get_item:prev_field_name %}
                                    {% get_field_by_name address_form grouped_field_name as grouped_field %}
                                    {{ grouped_field }}

                                    {% if grouped_field.errors %}
                                        <ul>
                                            {% for error in field.errors %}
                                                <li class="red-text">{{error}}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <!--
                            <td class="field-history-folding">
                                {% if field.name in fields_corrections %}
                                    <a href="#">
                                        <i class="fas fa-history"></i>
                                    </a>
                                {% endif %}
                            </td>
                            -->
                        </tr>
                    {% endif %}

                    {% if field.name not in address_form.grouped_fields %}
                        <tr>
                            <td></td>   <!-- Плейсхолдер для кнопки фолдинга полей -->
                            <td>{{ field.label }}</td>
                            <td>
                                {{ field }}
                                {% if field.errors %}
                                    <ul>
                                        {% for error in field.errors %}
                                            <li class="red-text">{{error}}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                            <td class="field-history-folding">
                                {% if field.name in fields_corrections %}
                                    <a href="#">
                                        <i class="fas fa-history"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>

                        {% if field.name in fields_corrections %}
                            {% for correction in fields_corrections|get_attr:field.name %}
                                <tr class="field-history-row"></tr>
                                <tr class="field-history-row">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="field-history-data">
                                            {% if correction.version_value %}
                                                {{ correction.version_value }}
                                            {% endif %}

                                            {% if correction.is_active %}<span class="red-text text-lighten-1">{% endif %}
                                                <span class="correction-step">
                                                ({{ correction.msg }})
                                                </span>
                                            {% if correction.is_active %}</span>{% endif %}
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                    {% endif %}

                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    </div>

    <div class="row">
        <div class="col s12">
            <input type="button" value="{% trans 'Add delivery address' %}" id="add_more">
        </div>
    </div>
    <div id="empty_form" style="display:none">
        <table class="striped proposal-data formset-table">

            <thead>
              <tr>
                <th></th>     <!-- Плейсхолдер для кнопки фолдинга полей -->
                <th colspan="2">Доставочный адрес</th>
                <th>
                    <input type="button" class="formset-del" value="X">
                </th>
              </tr>
            </thead>

            <tbody>
                {% comment %}
                {{ form.current_version }}
                {% endcomment %}
                {% for field in formset.empty_form %}

                    {% get_prev_field_by_index formset.empty_form.fields.keys forloop.counter0 as prev_field_name %}

                    {% if prev_field_name in formset.empty_form.field_groups.keys %}
                        <tr>
                            <td></td>   <!-- Плейсхолдер для кнопки фолдинга полей -->
                            <td colspan="3">
                                {% for grouped_field_name in formset.empty_form.field_groups|get_item:prev_field_name %}
                                    {% get_field_by_name formset.empty_form grouped_field_name as grouped_field %}
                                    {{ grouped_field }}

                                    {% if grouped_field.errors %}
                                        <ul>
                                            {% for error in field.errors %}
                                                <li class="red-text">{{error}}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <!--
                            <td class="field-history-folding">
                                {% if field.name in fields_corrections %}
                                    <a href="#">
                                        <i class="fas fa-history"></i>
                                    </a>
                                {% endif %}
                            </td>
                            -->
                        </tr>
                    {% endif %}

                    {% if field.name not in formset.empty_form.grouped_fields %}
                        <tr>
                            <td></td>   <!-- Плейсхолдер для кнопки фолдинга полей -->
                            <td>{{ field.label }}</td>
                            <td>
                                {{ field }}
                                {% if field.errors %}
                                    <ul>
                                        {% for error in field.errors %}
                                            <li class="red-text">{{error}}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                            <td class="field-history-folding">
                                {% if field.name in fields_corrections %}
                                    <a href="#">
                                        <i class="fas fa-history"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>

                        {% if field.name in fields_corrections %}
                            {% for correction in fields_corrections|get_attr:field.name %}
                                <tr class="field-history-row"></tr>
                                <tr class="field-history-row">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="field-history-data">
                                            {% if correction.version_value %}
                                                {{ correction.version_value }}
                                            {% endif %}

                                            {% if correction.is_active %}<span class="red-text text-lighten-1">{% endif %}
                                                <span class="correction-step">
                                                ({{ correction.msg }})
                                                </span>
                                            {% if correction.is_active %}</span>{% endif %}
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                    {% endif %}


                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $('#add_more').click(function(e) {
            e.preventDefault()
            let form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#delivery_addresses_formset').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });

        $(document).on('click', '.formset-del', function(e){
            e.preventDefault()
            e.stopPropagation()
            $(this).closest('.formset-table').remove()
            let form_idx = $('#id_form-TOTAL_FORMS').val();
            let forms = $('.formset-table');
            for (let i=0; i<form_idx - 1; i++) {
                $(forms.get(i)).html(
                    $(forms.get(i)).html().replace(/form-\d+/g, 'form-' + i)
                )
            }
        })
    </script>
{% endif %}


{% for corr_field in form %}
    {% if 'data-correction-field' in corr_field.field.widget.attrs %}
        <div class="row">
            <div class="input-field col s12 corr-field">
                {{ corr_field|remove_required }}
                <label for="{{ corr_field.id_for_label }}">{{ corr_field.label }}</label>
            </div>
            {% if corr_field.errors %}
                <ul class="errors-list">
                    {% for error in corr_field.errors %}
                        <li class="red-text text-lighten-1">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}